@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama-nueva');


/* Root CSS */

:root{
    --Primary-color:rgb(230, 83, 60);
    --Secondary-color:rgb(34, 34, 34);
    --text-color:rgba(255, 255, 255, 0.5);
    --white-color:#fff;
    --dark-color:black;
}

body{
    font-family: "Inter", sans-serif;
    background-color: var(--dark-color);
    color: var(--white-color);
    width: 100%;
    overflow-x: hidden;
}
a,li{
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
}

/* default CSS */
.box{
    max-width: 1060px;
    margin: 0 auto;
}
.primary-btn{
    background-color: var(--Primary-color);
    font-size: 18px;
    font-weight: 600;
    border-radius: 40px;
    padding: 10px 30px;
    border: none;
    color: #fff;
}
.header-text{
    font-size: 45px;
    font-weight: 900px;
    color: #fff;
    margin: 3px 0px;
}
.description{
    font-size: 14px;
    font-weight: 400;
    color:var(--text-color);
    margin: 5px 0px;
    padding: 0;
    line-height: 150%;
}
.header-text2{
    font-size: 25px;
    font-weight: 700px;
    color: #fff;
    margin: 3px 0px;
}
/* Default CSS end */

/* nav area css */
header{

}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.nav-container ul{
    padding: 0;
}
.nav-container li{
    display: inline;
}
.nav-container a{
    margin-left: 10px;
    margin-right: 25px;
    text-align: center;
}
.menu-area{
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 46px;
    padding: 12px 0;

}
.logo-area h1{
    color: var(--Primary-color);
    font-size: 2rem;
    font-style: italic;
}
/* Nav Area css End */

/* hero-area start */
.hero-area{
    display: flex;
    align-items: center;
}

.hero-des-area h1{
    font-size: 60px;
    font-weight: 900;
    margin: 20px 0;
}
.hero-des-area p{
    font-size: 16px;
    font-weight: 400;
    margin: 40px 0;
    width: 70%;
    color:var(--text-color);
}
.hero-des-area span{
    font-family: 'Miama Nueva', sans-serif;
    font-weight: 500;
}
.download-btn{
    background-color:black ;
    border: 1px solid rgb(255, 255, 255);
    transition: 0.5s;
}
.download-btn:hover{
    background: var(--Primary-color)
}
.hero-des-area .download-btn{
    margin-left: 20px;
}
.hero-img-area{
    position: relative;
}
.free-video-card {
    background-color: rgba(48, 48, 48, 0.5);
    border-radius: 10px;
    backdrop-filter:blur(10px);
    width: 180px;
    height: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    right: -50px;
    top: 150px;
    z-index: 1;

}

.free-video-card h2, p{
    margin: 0;
    padding-left: 20px;
}
.free-video-card h2{
    font-size: 36px;
}
.free-video-card  p{
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
}

.free-tutorial-card{
    background-color: rgba(48, 48, 48, 0.5);
    border-radius: 10px;
    backdrop-filter:blur(10px);
    width: 180px;
    height: 90px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 50px;
    left: -100px;
}
.card2-content1{
    width: 30%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;

}
.card2-content1 i{
    color: var(--Primary-color);
    font-size: 30px;
    background: white;
    border-radius: 100%;
}
.card2-content2{
    width: 70%;
    float: right;
}
.card2-content2 h2{
    margin-top: 20px;
    padding: 0;
    margin-bottom:0;
}
.card2-content2 p{
    margin: 0;
    padding: 0;
}
/* hero-area End */

/* Change you habit section */
.change-habit-area{
    margin-top: 50px;
}
.change-habit-head{
    text-align: center;
}
.change-habit-img{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 50px;
    text-align: center;
    margin-top: 50px;

}

.change-habit-card{

}
.change-habit-card img{
    width: 100%;
    border-radius: 50%;
    border: 2px solid var(--Secondary-color);
    
}
.change-habit-card h5{
    margin: 10px 0;
    padding: 0;
    font-size: 20px;
}
/* Change your habit section end */

/* Run Extra Section */
.run-extra{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-top: 50px;
    background-color: var(--Secondary-color);
    border-radius: 10px;
}
.run-extra-text{
    width: 60%;
}
.run-extra-text h3{
    width: 50%;
}
.run-extra-text p{
    width: 60%;
    margin: 10px 0;
}
.run-extra-text button{
    margin: 10px 0;
    padding: 10px 60px;
}
.run-extra-img{
    width: 40%;
}
.run-extra-img img{
    width: 100%;
    max-height: 400px;
    height: auto;
    border-radius: 10px;
}

/* Run Extra Section end*/

/* BMI Calculator part */
.bmi-calculator-area{
    background: var(--Secondary-color);
    margin-top: 50px;
}
.bmi-calculator-area-content{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.bmi-cal-header {
    text-align: center;
    margin-top: 50px;
}

.bmi-calculator-chart{
    width: 50%;
}

.table-head{
    margin-bottom: 50px;
}
.bmi-calculator-chart table{
    border-collapse: collapse;
    
}
.bmi-calculator-chart table th, td{
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 14px;
    font-weight: 400;
    padding: 15px;
    color: var(--text-color);
}
.bmi-calculator-chart table th{
    color: white;
    font-size: 16px;
    font-weight: 500;
}


/*  */

.bmi-calculator{
    width: 50%;
}
.input-field-area{
    width: 95%;
    margin-top: 20px;


}
.input-section{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px 0;
    gap: 20px;
    margin: 25px 0;

}
.input-section input, select{
    width: 48%;
    padding: 12px 0px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
}
.input-section input[type="text"]{
   padding-left: 10px;
}
.input-section select{
  padding: 0px;
}
.input-section select {
    padding-left: 10px;

  }
  
.input-section option {
    background: var(--Secondary-color);
    color: white;

  }


#activity{
    width: 100%;
    padding: 12px 10px;
}

/* BMI Calculator part end */


/* Meet our team section */
.our-team-area{
    margin-top: 50px;
}

.our-team-head{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.our-team-img{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: var(--Secondary-color);
    border-radius: 10px;
    margin-top: 50px;

}
.team-img-card{
    position: relative;
}
.card-des{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.card-des h6{
    margin: 0 ;
    padding: 0;
    font-size: 20px;
}

.team-img-1,.team-img-2,.team-img-3,.team-img-4, .team-img-5, .team-img-6{
    height: 250px;
    width: 100%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.team-img-1{
    background-image: url('../images/trainer1.png');
}
.team-img-2{
    background-image: url('../images/trainer2.png');
}
.team-img-3{
    background-image: url('../images/trainer3.png');
}
.team-img-4{
    background-image: url('../images/trainer4.png');
}
.team-img-5{
    background-image: url('../images/trainer5.png');
}
.team-img-6{
    background-image: url('../images/trainer6.png');
}

/* our team end */

/* Footer area start */
footer{
    background-color: var(--Secondary-color);
}
.footer-area{
    margin-top: 50px;
}
.foother-content{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    padding-top: 50px;
    gap: 50px;
    margin: 0px auto;
}
.gadget1 p{
    width: 70%;
    line-height: 150%;
}
.gadget1 h1{
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.gadget li{
    padding-top: 10px;
}
.gadget li a{
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
}
footer hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 30px;
}
#footer-p{
    text-align: center;
    padding: 20px 0;
}
/* Footer area end */

.hide{
    display: none;
}


.hamvarger{
    display: none;
}


/* Testimonial Section CSS Start Here */
.testimonial-area{
    width: 100%;
    margin-top: 100px;
}

.testimonial-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 20px;
    text-align: center;
    position: relative;
}
.t-img-container2,.t-img-container,.t-img-container3{
    width: 32%;
}
.testimonial-card img,.testimonial-card2 img,.testimonial-card3 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
}
.t-img-container,.t-img-container2,.t-img-container3{
    object-fit: cover;
    position: absolute;
    top: -50px;
}
.t-text-container{
    height: 200px;
    margin-top: 20px;
    padding-top: 50px;
    background: var(--Secondary-color);
    border-radius: 15px 15px 0 0;
    overflow:  auto;
}
.t-text-container h5{
    margin: 15px 0;
    font-size: 16px;
}



/* Responsive Area */

/* For mobile device */
@media screen and (max-width:576px) {
    
    .menu-area{
        display: none;
    }
    .hamvarger{
        display: block;
    }
    .hero-area,.run-extra,.bmi-calculator-area-content{
        flex-direction: column;
    }

    .header-text{
        font-size: 18px;
    }

    .hero-des-area h1 {
        font-size: 35px;
        font-weight: 700;
        margin: 5px 0;
    }
    .hero-des-area p {
        font-size: 14px;
        margin: 5px 0;
        width: 80%;

    }   
    .logo-area h1{
        font-size: 2rem;
    }
    .hero-img-area img {
        width: 100%;
    }
    .hero-des-area .download-btn{
        margin: 10px 0;
    }
    .hero-des-area button{
        margin-left: 10px;
    }
    header{
        
    }
    .free-video-card {
    right: 0;
    }
    .free-tutorial-card{
        left: 0;
        bottom: 10px;
    }
    .change-habit-img,.our-team-img,.foother-content,.testimonial-content{
        grid-template-columns: 1fr;
    }
    .run-extra-text,
    .run-extra-img,
    .run-extra-text p,
    .gadget1 p
    {
        width: 100%;
    }
    .run-extra,.bmi-calculator-area-content{
        padding: 5px;
    }
    .table-head {
        margin: 20px 0;
    }
    .bmi-calculator-chart{
        /* padding-left: 15px; */
    }
    .gadget1 h1{
        font-size: 40px;
    }
    .hero-des-area button{
        padding: 10px 20px;
    }
    .change-habit-card{
        width: 50%;
        margin: 0 auto;
    }
    .run-extra-text h3{
        font-size: 30px;
        width: 80%;
        margin-top: 0;
    }
    .change-habit-area{
        padding-bottom: 50px;
    }

    .run-extra-text button{
        text-align: center;
        width: 100%;
    }
    footer{
        width: 100%;
    }
    .run-extra{
        padding: 30px;
    }
    .bmi-calculator{
        /* padding: 0 15px; */
    }
    .nav-container,.hero-des-area h1,.hero-des-area p{
        padding:10px;
    }
    .header-text2{
        margin-left: 10px;
        width: 100%;
        margin-top: 30px;
    }
    .bmi-calculator, .header-text2{
        margin: 15px 0;
    }
    .foother-content{
        padding: 0 15px;
        gap: 10px;
    }
    .bmi-calculator{
        width: 100%;
    }
    .bmi-calculator-chart{
        width: 100%;
    }
    .t-img-container{
        width: 100%;
    }
    .testimonial-card2,.testimonial-card3{
        display: none ;
    }
    /* .hero-btn-container{
        display: flex;
        flex-direction: column;
    } */
    .download-btn{
        padding:10px 20px;
        margin: 0 0 0 10px;
    }
    .box{
        max-width: 100%;
        margin: 0 auto;
    }
    .bmi-calculator-area{
        width: 100%;
        
    }
    .bmi-calculator-chart, .bmi-calculator{
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bmi-calculator {
        width: 100%;
        margin: 0 auto;
    }
    .bmi-calculator h4{
        margin-top: 50px;
    }
    .bmi-calculator> .input-field-area{
        margin-top: 0;
    }
    .bmi-calculator-area{
        padding: 20px 0px;
    }
    .input-field-area{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input-section{
        margin: 10px 0;
    }
    .bmi-calculator-area button{
        margin-top: 10px;
    }
    .bmi-calculator p{
        margin-bottom: 10px;
    }
    .header-text{
        margin-top: 50px;
    }
    .description{
        width: 95%;
        margin: 0 auto;
    }
    .footer-area{
        margin-top: 50px;
        padding-top: 20px;
    }
    
}