@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');


/* Root CSS */

:root{
    --Primary-color:rgb(230, 83, 60);
    --Secondary-color:rgb(34, 34, 34);
    --text-color:rgba(255, 255, 255, 0.5);
    --white-color:#fff;
    --dark-color:black;
}

body{
    font-family: "Inter", sans-serif;
    background-color: var(--dark-color);
    color: var(--white-color);
}
a,li{
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

/* default CSS */
.box{
    max-width: 1060px;
    margin: 0 auto;
}
.primary-btn{
    background-color: var(--Primary-color);
    font-size: 18px;
    font-weight: 600;
    border-radius: 40px;
    padding: 10px 25px;
    border: none;
    color: #fff;
}

/* Default CSS end */

/* nav area css */
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.nav-container ul{
    padding: 0;
}
.nav-container li{
    display: inline;
}
.nav-container a{
    margin-left: 10px;
    margin-right: 25px;
    text-align: center;
}
.menu-area{
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 46px;

}
.logo-area h1{
    color: var(--Primary-color);
    font-size: 2rem;
    font-style: italic;
}
/* Nav Area css End */

/* hero-area start */
.hero-area{
    display: flex;
    align-items: center;
}

.hero-des-area h1{
    font-size: 60px;
    font-weight: 900;
    margin: 20px 0;
}
.hero-des-area p{
    font-size: 16px;
    font-weight: 400;
    margin: 40px 0;
    width: 70%;
    color:var(--text-color);
}
.hero-des-area span{
    font-family: "Arizonia", cursive;
    font-weight: 500;
}
.download-btn{
    background-color:black ;
    border: 1px solid rgb(255, 255, 255);
}
.hero-des-area .download-btn{
    margin-left: 20px;
}
.hero-img-area{
    position: relative;
}
.free-video-card {
    background-color: rgba(48, 48, 48, 0.5);
    border-radius: 10px;
    backdrop-filter:blur(10px);
    width: 180px;
    height: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    right: -100px;
    top: 150px;
    z-index: 1;

}

.free-video-card h2, p{
    margin: 0;
    padding-left: 10px;

}
.free-video-card  p{
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
}

.free-tutorial-card{
    background-color: rgba(48, 48, 48, 0.5);
    border-radius: 10px;
    backdrop-filter:blur(10px);
    width: 180px;
    height: 90px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 50px;
    left: -100px;
}
.card2-content1{
    width: 30%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;

}
.card2-content2{
    width: 70%;
    float: right;
}
.card2-content2 h2{
    margin-top: 20px;
    padding: 0;
    margin-bottom:0;
}
.card2-content2 p{
    margin: 0;
    padding: 0;
}
/* hero-area End */